/* Estilos generales */
.header {
 position: fixed; /* Fijar la posición */
  top: 0; /* Colocar en la parte superior */
  z-index: 2;/* Asigna un valor de z-index */
  width: 100%; /* Ocupar todo el ancho */
  background-color: transparent; /* Color de fondo */
  color: #fff; /* Color del texto */
  padding: 10px 20px; /* Espaciado interno */
  display: flex;
  height: 10%;

}

.logo {
  font-size: 24px;
  font-weight: bold;
  color:#fff;
  

}
.logo span {
  color: #e0caad;;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-left: auto; /* Empuja este elemento hacia la derecha */
  padding-right: 2vw;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
}


/* Estilos para el div cuando se está haciendo scroll */
.scrolling-div {
  background-color: #000; /* Cambia el color de fondo cuando se está haciendo scroll */
}

/* Estilos para el div cuando el scroll está en la parte superior */
.top-div {
  background-color: transparent; /* Fondo transparente cuando el scroll está en la parte superior */
}
